.icons {
    width: 20px;
    height: 20px;
    margin: 0 20px 0 20px;
}
.top-icons {
    font-size: 30px;
    color: #135846;
    margin: 0 20px;
}

.top-icons--2 {
    font-size: 30px;
    color: #135846;
    margin-right: 40px;
}

.top-icons:hover {
    color: red;
    cursor: pointer;
}
